:root {
    --ColorBg:#E8E8E8;
    --ColorNav:#320097;
    --ColorAnnonce:#9663FF;
    --ColorText:white;
    --ColorWhite:white;
    --ColorB:black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
	background: url(../image/login.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
}

.container{
	width: 500px;
	height: 400px;
	margin: 0px auto;
	margin-top: 100px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.43);
}

/*
    Page d'accueil - écran
*/

/*
    Nav barre
*/

#nav {
    height: 60px;
    width: 100%;
    background-color: var(--ColorNav);

    display: flex;
   align-items: center;
   justify-content: space-between;
}

#molitor-junior {
    color: var(--ColorText);
    margin-left: 30px;
    font-size: 25px;
}

.user {
    height: 50px;
    width: 50px;
    margin-right: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container img{
	width: 120px;
	height: 120px;
	margin-top:-50px;
	margin-bottom: 50px;
}

input[type="text"],input[type="password"]{
	width: 250px;
	height: 30px;
	margin-bottom: 30px;
	padding-left: 30px;
	font-size: 17px;
}

.input_box::before{
	content:url(https://res.cloudinary.com/dejzo3x6l/image/upload/v1462601843/login%20page%20design/user.png);
	position: absolute;
	padding: 3.2px;
	background-color: rgba(219, 116, 40, 0.33);
}

.input_box:nth-child(3)::before{
	content:url(https://res.cloudinary.com/dejzo3x6l/image/upload/v1462601842/login%20page%20design/lock.png);
}
.submit_btn{
    border: solid 2px #320097;
    background-color: transparent;
    color: #320097;
	font-size: 20px;
	padding:10px 30px;
	letter-spacing: 2px;
	transition: background-color .2s;
	margin-bottom: 10px;
}
.submit_btn:hover{
	background-color: #320097;
    color: white;
	cursor: pointer;
}

a.for_pass{
	color: #320097;
}
a.for_pass:hover{
	color:#320097;
}


@media screen and (max-width: 510px) {
	body {
		background-color: white;
		background-image: none;
		background-attachment: none;
		background-size: none;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	.input_box::before{
		content:url(https://res.cloudinary.com/dejzo3x6l/image/upload/v1462601843/login%20page%20design/user.png);
		position: absolute;
		padding: 3.2px;
		background-color: rgba(219, 116, 40, 0.33);
	}
	#nav {
		height: 60px;
		width: 100%;
		background-color: var(--ColorNav);
	
		display: flex;
	   align-items: center;
	   justify-content: space-evenly;
	}

}
