:root {
    --ColorBg:#E8E8E8;
    --ColorNav:#320097;
    --ColorAnnonce:#9663FF;
    --ColorText:white;
    --ColorWhite:white;
    --ColorB:black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--ColorBg);
    overflow-x: hidden;
}

/*
    Page d'accueil - écran
*/

#container-1 {
    height: 100vh;
    width: 100%;
}

/*
    Nav barre
*/

#nav {
    height: 60px;
    width: 100%;
    background-color: var(--ColorNav);

    display: flex;
   align-items: center;
   justify-content: space-between;
}

#molitor-junior {
    color: var(--ColorText);
    margin-left: 30px;
    font-size: 25px;
}

.user {
    height: 50px;
    width: 50px;
    margin-right: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

/* 
    Barre d'annonce
*/

#annonce {
    height: 25px;
    width: 100%;
    background-color: var(--ColorAnnonce);

    display: flex;
    justify-content:center;
    align-items: center;
}

#title-annonce {
    color: var(--ColorText);
    font-size: 15px;
}

/*
 image background 
 */

#enfant-background {
    width: 100%;
    height:91vh;
    object-fit: cover;
    object-position: center;
}

/*
Container reseaux
*/

#container-reseaux {
    width: 100%;
    height: 100%;
}

/*
 Bloc du texte réseau et de la barre déco 
*/

#TextAndDeco{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-bloc {
    padding: 3%;
    font-family:'Times New Roman', Times, serif;
}

/*
 barre de déco 
*/

.deco {
    height: 3px;
    width: 200px;
    background-color:var(--ColorNav);
    border-radius: 50px;
    margin-bottom: 50px;
}

/*
Bloc des cartes articles des réseaux
*/

#container-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: var(--ColorWhite);
    text-align: left;
    flex: 1;
    margin: 2rem !important;
    border-radius: 5px;
    height: 24rem !important;
    max-width: 28rem !important;
    min-height: 24rem !important;
    min-width: 28rem !important;
    padding: 2rem;
}

/*
    Rubrique
*/

#all-rubrique {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rubrique {
    width: 70%;
    height: 40em;

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.img-rubrique {
    max-width: 100%;
    height: auto;
    z-index: 0;
}


.box-text {
    width: 40%;
    height: 76%;
    background-color: var(--ColorWhite);
    border-radius: 0 25px 25px 0;
    padding: 20px;
    z-index: 2;
}

.box-text, p {
    font-size: 20px;
}


                @media screen and (max-width: 1158px) {
                   
                }
                



                /*
                    MAP
                */

#information-flex {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#horaire {
    padding: 50px;
}

th {
    font-size: 25px;
}

td {
    font-size: 18px;
    padding: 5px;
}

#map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#btn-flex {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--ColorWhite);
    border-radius:10px 10px 0 0 ;
}

.btn {
    font-size: 20px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 3px  #320097;
    margin-bottom: 10px;
    cursor: pointer;
}
.btn:hover {
    color: var(--ColorNav);
}

.gmap {
    height:60vh ;
    width:35vw;
}

/*
Footer
*/

footer {
    bottom: 0;

    width: 100%;
    height: 40vh;
    background-color: rgb(25, 25, 25);

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    padding: 25px;

}

.col {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.title-f {
    color: white;
}

.deco-f {
    background-color: var(--ColorWhite);
    width: 60px;
    height: 3px;

    margin: 5px;
}

.lien {
    cursor: pointer;
    color: rgb(184, 184, 184);
    padding: 6px;
}

.lien:hover {
    color: var(--ColorAnnonce);
}

.text-f {
    color: rgb(184, 184, 184);
    padding: 6px;
}



@media screen and (max-width: 1095px) {
    .rubrique {
        width: 70%;
        height: 40em;
    
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .img-rubrique {
        max-width: 100%;
        height: auto;
        margin: -20px;
    }
    
    .box-text {
        width: 100%;
        height: auto;
        border-radius: 0 0 0 0;
        background-color: var(--ColorWhite);
        padding: 20px;
    }
    
    .box-text, p {
        font-size: 16px;
    }

    #information-flex {
        width: 100%;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gmap {
        height:350px ;
        width:350px;
    }

    footer {
        bottom: 0;
    
        width: 100%;
        height: 100%;
        background-color: rgb(25, 25, 25);
    
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    
        padding: 25px;
    
    }
    .card {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        background-color: var(--ColorWhite);
        text-align: left;
        flex: 1;
        margin: 2rem !important;
        border-radius: 5px;
        height: 24rem !important;
        max-width: 18rem !important;
        min-height: 24rem !important;
        min-width: 18rem !important;
        padding: 2rem;
    }
}


@media screen and (max-width: 292px) {
    .box-text, p {
        font-size: 14px;
    }
}

292



