:root {
    --ColorBg : #E6E6E6;
    --ColorW:white;
}

* {
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: var(--ColorBg);

}


#container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card {
    box-shadow: rgba(255, 255, 255, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: var(--ColorW);
    text-align: center;
    flex: 1;
    margin: 1rem !important;
    border-radius: 5px;
    height: 20rem !important;
    max-width: 30rem !important;
    min-height: 20rem !important;
    min-width: 35rem !important;
    padding: 2rem;
}

#img-btn {
    height: 200px;
    width: 200px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: -15px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    height: 20px;
    margin-left: 10px;
}

button {
    width: 50px;
    height: 20px;
}